<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gelberk{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
            <link href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css') }}" rel="stylesheet" />
        {% endblock %}

        <meta property="og:url" content="http://www.your-domain.com/your-page.html"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="Your Website Title"/>
        <meta property="og:description" content="Your description"/>
        <meta property="og:image"
              content="http://www.your-domain.com/path/image.jpg"/>
        <link rel="icon" type="image/vnd.microsoft.icon" href=""/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">	
    </head>
    <body>
        {% block header %}
        <div class="p-header">
            <div class="nav-top">
                <div class="nav-top__left">
                    <a class="default-link" href="{{ path('about') }}">О компании</a>
                    <a class="default-link hidden-xs" href="{{ path('category', {'slug': 'catalog'}) }}">Каталог товаров</a>
                    <a class="default-link" href="{{ path('delivery') }}">Доставка</a>
                    <a class="default-link" href="{{ path('contact') }}">Контакты</a>
                    <a class="default-link" href="{{ path('galery') }}">Галерея</a>
                </div>
                <div class="nav-top__right">
                    <a class="default-link" href="#">
                        <img class="default-link__icon user" src="/images/SVG/login.svg">
                        Вход <span class="default-link-span">&nbsp; / Регистрация</span>
                    </a>
                    <div class="orders">
                        <a class="default-link" href="#">
                            <img class="default-link__icon" src="/images/SVG/car.svg">
                            Мои заказы
                        </a>
                        <div class="orders__sum">
                            <div class="orders__number">
                                {{ userOrders }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search">
                <div class="search-content">
                    <div class="gelberk-logo">
                        <a class="link-to-main-page" href="/">
                            <img class="gelberk-logo__svg" src="/images/SVG/logo_red_white.svg">
                        </a>
                    </div>
                    <div class="mob-flex">
                        <button class="button blue">
                            <span class="button__text">
                            <img class="menu-bar" src="/images/SVG/menu.svg">
                                Каталог товаров
                            </span>
                        </button>
                    </div>
                    <input class="input-search" type="text"
                           placeholder="Поиск по названию, артиклю или коду...">
                </div>
            </div>
        </div>
        {% endblock header %}
        
        {% block body %}{% endblock body %}        
        
        {% block footer %}
            <div class="p-footer">
                <div class="footer-content">
                    <div class="gelberk-logo">
                        <a class="link-to-main-page" href="#">
                            <img class="gelberk-logo__svg" src="/images/SVG/logo_white.svg">
                        </a>
                        <div class="gelberk__sub-name">
                            Мелкая бытовая техника и посуда
                        </div>
                    </div>
                    <div class="footer-content__nav">
                        <div class="footer-content__title">МЕНЮ</div>
                        <a class="footer-content__link" href="{{ path('category', {'slug': 'catalog'}) }}">Каталог товаров</a>
                        <a class="footer-content__link" href="{{ path('delivery') }}">Доставка</a>
                        <a class="footer-content__link" href="{{ path('about') }}">О нас</a>
                        <a class="footer-content__link" href="{{ path('contact') }}">Контакты</a>
                    </div>
                    <div class="footer-content__nav">
                        <div class="footer-content__title">КОНТАКТЫ</div>
                        <a class="footer-content__link" href="tel:+7(495) 471-06-51">
                            <img class="default-link__icon" src="/images/SVG/phone.svg">
                            +7(495) 471-06-51
                        </a>
                        <a class="footer-content__link" href="tel:+7(812) 336-44-53">
                            <img class="default-link__icon" src="/images/SVG/phone.svg">
                            +7(812) 336-44-53
                        </a>
                        <a class="footer-content__link" href="mailto:рrof@рrof-torg.com">
                            <img class="default-link__icon" src="/images/SVG/mail.svg">
                            рrof@рrof-torg.com
                        </a>
                    </div>
                    <div class="footer-flex">
                        <div class="footer-content__nav last-block">
                            <div class="footer-content__title">ВХОД</div>
                            <a class="footer-content__link" href="#">
                                <img class="default-link__icon" src="/images/SVG/admin.svg">
                                Я администратор
                            </a>
                        </div>
                            <div class="social-media">
                                <a class="social-media__link" href="#">
                                    <img class="social-media__svg" src="/images/SVG/odnoklassniki-logo.svg">
                                </a>
                                <a class="social-media__link" href="#">
                                    <img class="social-media__svg" src="/images/SVG/vk-social-logotype.svg">
                                </a>
                                <a class="social-media__link" href="#">
                                    <img class="social-media__svg" src="/images/SVG/google-plus-social-logotype.svg">
                                </a>
                                <a class="social-media__link" href="#">
                                    <img class="social-media__svg" src="/images/SVG/facebook-logo.svg">
                                </a>
                                <a class="social-media__link" href="#">
                                    <img class="social-media__svg" src="/images/SVG/instagram-social-network-logo-of-photo-camera.svg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        {% endblock footer %}
        
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

            <script src="/js/common.js"></script>
            <script src="/js/main.js"></script>

            <script>  
                $('.slider-container').slick({
                    dots: true,
                    infinite: true,
                    speed: 300,
                    slidesToShow: 1,
                    dotsClass: 'slider-dots',
                    nextArrow: '<div class="slider-arrow flex-end"><img class="slider-arrow__img rotate" src=".././src/images/SVG/union.svg"></div>',
                    prevArrow: '<div class="slider-arrow"><img class="slider-arrow__img" src=".././src/images/SVG/union.svg"></div>',
                });
            </script>
        {% endblock javascripts %}
    </body>
</html>